/* Landing page background color and the display photo */
body{
  background-color: #eea304;
  text-align: center;
  bottom:10%;
  margin-bottom: 40%;
  
}
  /* margin-bottom: 8%; */



.body2{
  margin-bottom: -8%;
  bottom:10%;
}

body > input{
  align-items: left;
}
/* Page dimensions */

/* div {
  box-shadow: 10px 10px 5px 12px rgb(113, 11, 246);
} */
/* wrong * align-content: center;  */
 /* align-content: 50%;
 align-items: center;
*/ 


.Hello{

  padding-left:auto;
  padding-right:auto;
  text-align: center;
}
/*  align-tracks: left;
align-items
align-content
align-self */

.Display_Photo{
  border:10px solid #AE540B;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  box-shadow:6px 12px 5px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  display:grid;
  
}
   /* padding-left:50%;
   padding-right:50%; */

#p1{
    font-family:Arial, Helvetica, sans-serif ;
    padding-top:2.5%;
    padding-bottom:10%;
    padding-left:30%;
    padding-right:30%;
    text-indent:10%;
    text-align: left;
    position:relative;
  }
/* padding-left: auto;
    padding-right:auto; */
    /* margin-left: auto;
    margin-right:auto; */

/* font-face {
    font-family: 'ReklameScript-Regular';
    src: url('grantsawyer/Library/Fonts/ReklameScript-Regular_DEMO.otf'); /* Replace 'path/to/your-font-file.ttf' with the actual path to your font file */
    /* You can also include other font formats like woff, woff2, eot, etc., for better browser compatibility */
  /* } */
  
  /* Example usage */
  /* body {
    font-family: 'ReklameScript-Regular', sans-serif;
  }
.my-element {
  font-family: 'ReklameScript-Regular', sans-serif;
} */ 
.button-container {
  display: flex;
  justify-content: center;
  }
  
a.one{
  background-color:#daab80;
  text-decoration: none;
  display:space-between;
  border: 1px solid black;
  border-radius: 25px;
  color:#000000;
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 140px;
  width: 140px;
  font-size: 22px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  Top:-75px;
  bottom:-30px;
}

a.one:hover{
  background-color: #45a049; 
  cursor: pointer;
  }

/* Index Button */
/* #didn't bring down the button */


a.two{
  background-color:#EE7202;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  border-radius: 25px;
  color:#000000;
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 140px;
  width: 140px;
  font-size: 22px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  Top:-75px;
  bottom:-30px;
  
}

a.two:hover{
  background-color: #45a049; 
  cursor: pointer;
  }
  
/* Contact button */

___________________________________________

/* Contact Page */



#p2{
  font-family:Arial, Helvetica, sans-serif;
}


body{font-family: Arial, Helvetica, sans-serif; margin-bottom: 8%;}
* {box-sizing: border-box;}
/* align-items: left; */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #AE540B;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  border-radius: 25px;
  color:#000000;
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 140px;
  width: 140px;
  font-size: 22px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  justify-content: center;
  
}
/* Submit button */
/* align-items: center; */

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 20px;
  border: 5px solid #AE540B;
  background-color: #EE7202;
  padding: 20px;
  height:756;
  width:479px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  text-align: left;
}

.Submit{
text-align: center;
}



/* bottom: 130px; */


 


/* Index Button on Contact Page*/
/* erasing the bottom does nothing */

/* .Contact {
  bottom:50px;
}
 */





a.three{
  background-color:#ffffff;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  border-radius: 25px;
  color:#000000;
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 140px;
  width: 140px;
  font-size: 22px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  Top:-30px;
  bottom:-30px;
 
  /* margin-top: 30px; */
  /* bottom: 50px; */
  /* top: 30px; */
}
/* Home Button */


a.three:hover{
  background-color:#45a049;
cursor: pointer;
}

a.four{
  background-color:#daab80;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  border-radius: 25px;
  color:#000000;
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 140px;
  width: 140px;
  font-size: 22px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  Top:-30px;
  bottom:-30px;
  /* margin-top: 30px; */
  /* Top:30px; */
  /* bottom: 50px; */
}

/* Contact Button */

a.four:hover{
  background-color:#45a049;
  cursor: pointer;
}
_____________________________________
.button-container {
  display: flex;
  align-items: left;
  /* margin-top:-30px;
  margin-bottom: -30px; */
  padding-bottom: -50px;
}



